@charset "UTF-8";

@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.mv {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mv .tt_mv {
  height: 80px;
  .h20{
    height: 20px;
  }
}

.mt100{
  margin-top: 100px !important;
}

.mv_product {
  background-image: url(../product_introduction/images/mv.png);
}

.mv_about-en {
  background-image: url(../about_en/images/mv.png);
}

.mv_contact {
  background-image: url(../contact/images/mv.png);
}

.mv_case {
  background-image: url(../case/images/mv.png);
}

.mv_conv {
  background-image: url(../conv/images/mv.png);
}

.mv_dc-log {
  background-image: url(../dc_log/images/mv.png);
}

.mv_busylight {
  background-image: url(../busylight/images/mv.png);
}

.mv_plus {
  background-image: url(../plus/images/mv.png);
}

.mv_pbx {
  background-image: url(../pbx/images/mv.png);
}

.mv_products {
  background-image: url(../products/images/mv.png);
}

.mv_solution {
  background-image: url(../solution/images/mv.png);
}

.mv span {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 7px;
  margin-left: -3px;
  line-height: 1;
  color: #ffffff;
}

#breadcrumb {
  display: none;
  font-size: 12px;
  margin-top: 7px;
}

#breadcrumb li {
  float: left;
}

#breadcrumb span {
  letter-spacing: 1.5px;
}

#breadcrumb a {
  color: #0175ce;
  text-decoration: underline;
}

#breadcrumb a:hover {
  text-decoration: none;
}

.tt_sec {
  font-size: 20px;
  color: #0175ce;
  font-weight: 600;
  margin-bottom: 5px;
}

.sec {
  margin-top: 80px;
}

.sec_blue {
  background-color: #eef8ff;
}

.sec_gray {
  background-color: #eeeeee;
}

.sec_item {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

.mb40{
  margin-bottom: 40px !important;
}

.sec_item>figure {
  width: 100%;
  margin: 0 auto;
  margin-top: -90px;
  margin-bottom: 20px;
}

.sec_item>figure img {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sec_item>div {
  width: 570px;
}

.sec_item>div p {
  letter-spacing: 1px;
  line-height: 1.8;
  text-align: justify;
}

.pt55 {
  padding-top: 55px;
}

.pb98 {
  padding-bottom: 50px;
}

.btn01_sky {
  background-color: #e7f5fb;
}

.mt55 {
  margin-top: 40px;
}

.sec_bannar_about_en {
  background: url(../about_en/images/bg.png) no-repeat center center;
  min-height: 280px;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: #ffffff;
}

.sec_bannar_about_en p {
  line-height: 2;
  letter-spacing: 1.5px;
}

.tt_about_en {
  font-weight: 600;
  font-size: 23px;
  margin-bottom: 15px;
}

.tt_subpage span,
.tt_h2 span {
  margin-top: 0;
  position: relative;
  color: #00053b;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 600;
}

.tt_subpage span::before,
.tt_h2 span::before {
  position: absolute;
  content: "";
  top: 100%;
  max-width: 80%;
  left: 50%;
  width: 100px;
  height: 1px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-bottom: 1px solid #00053b;
}

.tt_h2 span {
  font-weight: bold;
  font-size: 23px;
}

.mt60 {
  margin-top: 60px;
}

.form_contact dl,
.form_contact dl>dt,
.form_contact dl>dd,
.item_about dl,
.item_about dl>dt,
.item_about dl>dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
}

.form_contact dl,
.item_about dl {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top: 1px solid #364151;
  flex-wrap: wrap;
}

.form_contact dl:last-of-type,
.item_about dl:last-of-type {
  border-bottom: 1px solid #364151;
}

.form_contact dl>dt,
.form_contact dl>dd,
.item_about dl>dt,
.item_about dl>dd {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  flex-wrap: wrap;
}

.form_contact dl>dt,
.item_about dl>dt {
  font-size: 14px;
  width: 100%;
}

.form_contact dl>dd,
.item_about dl>dd {
  width: 100%;
}

.item_about dl>dt {
  background-color: #0175ce;
  font-weight: 600;
  color: #ffffff;
}

.item_about dl>dd>ul>li {
  margin-bottom: 10px;
}

.item_about dl>dt,
.item_about dl>dd {
  padding: 10px 15px;
}

.mt75 {
  margin-top: 75px;
}

.info_map {
  margin-top: 20px;
  margin-bottom: 50px;
}

.info_map p {
  line-height: 2;
  letter-spacing: 1.5px;
}

.bn_contact {
  background: url(../contact/images/bn.png) no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 27px 235px 26px 50px;
  border: 1px solid #e7f5fb;
}

.bn_contact::after {
  content: "";
  right: 0;
  bottom: 0;
  z-index: 3;
  position: absolute;
  width: 222px;
  height: 262px;
  background: url(../contact/images/person.png) no-repeat 0 0;
}

.bn_contact p {
  line-height: 2;
}

.bn_contact>div:first-of-type {
  width: 545px;
  margin-right: 50px;
}

.bn_contact>div:last-of-type {
  width: 315px;
}

.bn_contact dt span {
  font-size: 43px;
  font-weight: 500;
  line-height: 1.1;
  background: url(../contact/images/tel.png) no-repeat left center;
  padding-left: 35px;
  display: inline-block;
}

.bn_contact dd {
  font-size: 16px;
  font-weight: 600;
}

.list_radio li {
  float: left;
  margin-right: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form_contact a:hover {
  text-decoration: underline;
}

.form_contact dt {
  background-color: #e7f5fb;
  position: relative;
  padding-left: 80px;
  font-weight: 600;
}

.form_contact dt.icon_blue::before {
  content: "必須";
  background-color: #0d57b0;
}

.form_contact dt.icon_bl::before {
  content: "任意";
  background-color: #000000;
}

.form_contact dt::before {
  color: #ffffff;
  font-size: 12px;
  border-radius: 3px;
  padding: 1px 6px;
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 2;
}

.form_contact dd {
  padding-left: 70px;
  padding-right: 50px;
}

.form_contact dd,
.form_contact dt {
  padding-top: 25px;
  padding-bottom: 25px;
}

.form_contact input[type="text"],
.form_contact input[type="email"] {
  height: 40px;
  width: 100%;
  padding-left: 7px;
}

.form_contact input[type="text"].request~span,
.form_contact input[type="email"].request~span {
  background-color: #eeeeee;
  padding: 3px 7px;
  display: inline-block;
}

.form_contact select,
.form_contact input[type="text"].request {
  height: 40px;
  width: 250px;
}

.form_contact input,
.form_contact select,
.form_contact textarea {
  font-family: "Noto Sans Japanese", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
}

.form_contact textarea {
  width: 100%;
  height: 170px;
  padding-left: 7px;
  padding-top: 7px;
}

.mb25 {
  margin-bottom: 25px;
}

.btn_ct {
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  color: #ffffff;
  width: 355px;
  display: inline-block;
  padding: 18px 10px;
  background-color: #0175ce;
}

.btn_ct:hover {
  background-color: #0f99da;
}

.pp {
  margin-top: 70px;
  margin-bottom: 80px;
}

.pp h3.gothic {
  font-size: 17px;
  font-weight: 600;
}

.pp a:hover {
  text-decoration: underline;
}

.box_blue {
  padding: 20px 40px;
  border: 2px solid #0175ce;
}

.list_pp li {
  position: relative;
  padding-left: 20px;
}

.list_pp li:nth-of-type(n+2) {
  margin-top: 5px;
}

.list_pp li::before {
  content: "●";
  left: 0;
  color: #0175ce;
  position: absolute;
  z-index: 2;
  top: 0;
}

.page_about .sec_item>div p {
  letter-spacing: 1.5px;
}

.tt_subpage span {
  font-size: 18px;
  width: 100%;
}

.mt45 {
  margin-top: 45px;
}

.h3_subpage {
  padding: 10px;
  background-color: #0175ce;
}

.h3_subpage.h3_subpage_big {
  font-size: 27px;
  padding: 12px 10px;
}

.h3_subpage span {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  width: calc(100% - 76px);
}

.h3_subpage small {
  color: #00053b;
  background-color: #e7f5fb;
  margin-right: 30px;
  display: inline-block;
  padding: 4px 9px;
  line-height: 1.4;
}

.item_case {
  margin-top: 43px;
}

.item_case>div {
  width: 590px;
}

.item_case>div p {
  line-height: 2;
}

.item_case>figure,
.item_case>ul {
  width: 584px;
}

.item_case>ul {
  background-color: #e7f5fb;
}

.item_case>ul table {
  width: 320px;
}

.item_case>ul table th {
  padding-left: 7px;
  width: 90px;
}

.item_case>ul table td,
.item_case>ul table th {
  border-bottom: 1px solid #0d57b0;
  vertical-align: middle;
}

.tt_blue {
  color: #0175ce;
  font-size: 27px;
  border-left: 5px solid #0175ce;
  padding-left: 20px;
}

.ul_index li {
  text-indent: -15px;
  padding-left: 15px;
  margin-bottom: 7px;
}

.ul_index1 li {
  text-indent: -25px;
  padding-left: 25px;
  margin-bottom: 7px;
}

.f27 {
  font-size: 27px;
}

.red {
  color: #ff0000;
}

.box_line_blue {
  margin-top: 60px;
  border: 2px solid #0175ce;
  background-color: #e7f5fb;
  padding: 25px 30px;
}

.box_line_blue>ul {
  padding-left: 30px;
}

.box_line_blue>ul span.red {
  font-size: 16px;
}

.conv01 {
  background-color: #e7f5fb;
}

.dc_log01 .ul_conv01 h2 {
  line-height: 3;
}

.dc_log01 .ul_conv01 li:first-of-type {
  width: 445px;
  margin-right: -89px;
}

.dc_log01 .ul_conv01 li:last-of-type {
  width: 894px;
  margin-right: -64px;
}

.ul_conv01 h2 {
  font-size: 24px;
}

.ul_conv01 h3 {
  font-size: 20px;
}

.ul_conv01 li:first-of-type {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 500px;
  margin-right: 25px;
}

.ul_conv01 li:last-of-type {
  width: 675px;
}

.list_btn_conv {
  margin-left: -15px;
  margin-right: -15px;
}

.list_btn_conv li {
  width: 380px;
  margin: 0px 15px 20px;
}

.btn_anchor {
  background: url(../conv/images/icon.png) no-repeat right 30px center #e7f5fb;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #1d9fdc;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  padding-right: 55px;
  padding-left: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn_anchor:hover {
  color: #ffffff;
  background-color: #1d9fdc;
}

.btn_anchor span {
  width: 100%;
}

.item_conv>dl {
  width: 285px;
  border: 2px solid #0175ce;
  background-color: #e7f5fb;
  padding: 15px;
  margin-right: 20px;
}

.item_conv>dl:nth-of-type(4n) {
  margin-right: 0px;
}

.item_conv>dl:nth-of-type(n+5) {
  margin-top: 40px;
}

.item_conv>dl>dt {
  font-weight: 600;
  text-align: center;
  font-size: 22px;
  color: #0175ce;
  margin-bottom: 20px;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.item_conv>dl>dt p {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
}

.item_conv>dl>dd {
  line-height: 2;
}

.info_conv>div:first-of-type {
  width: 730px;
}

.info_conv>div:last-of-type {
  width: 410px;
}

.info_conv h5 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.info_conv p {
  line-height: 2;
  margin-bottom: 30px;
}

.box_bl {
  color: #ffffff;
  width: 550px;
  background-color: #0175ce;
  padding: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.box_bl>div {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
}

.box_bl:nth-of-type(n+3) {
  margin-top: 20px;
}

.box_bl dt {
  font-size: 17px;
  font-weight: 600;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  padding-left: 9px;
  border-left: 5px solid #ffffff;
}

.box_bl dl {
  width: 280px;
}

.box_bl dl.w100 {
  width: 100%;
}

.box_bl .btn01 {
  margin-top: 12px;
  background-color: #eef8ff;
  min-width: 217px;
  font-size: 14px;
  padding-top: 9px;
  border: 1px solid #1d9fdc;
  padding-bottom: 9px;
}

.box_bl .btn01:hover {
  color: #29231e;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}

.page_conv .bn_sec_top04 {
  margin-top: 35px;
}

.tt_conv {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  color: #0175ce;
}

.conv04 {
  background: url(../conv/images/bg.png) no-repeat center center;
  padding: 30px 0px 78px;
  margin-top: 35px;
}

.pb25 {
  padding-bottom: 25px;
}

.pb40 {
  padding-bottom: 40px;
}

.list_box_bn li {
  width: 585px;
  padding-top: 40px;
  color: #ffffff;
  background-color: #0d57b0;
  margin-top: 30px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.list_box_bn li:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.list_box_bn li>p span {
  padding: 3px 25px;
  min-width: 310px;
  display: inline-block;
  background-color: #0175ce;
}

.list_box_bn li h3 {
  font-size: 24px;
  font-weight: 600;
}

.list_box_bn li.box_conv01 {
  background: url(../conv/images/bn01.png) no-repeat center center/cover;
}

.list_box_bn li.box_conv02 {
  background: url(../conv/images/bn02.png) no-repeat center center/cover;
}

.list_box_bn li.after::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 270px;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -12px;
  background-color: #0175ce;
}

.tt {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.item_dc_log>div,
.item_dc_log>figure {
  width: 580px;
}

.line_blue {
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #0d57b0;
}

.list_dl_dc_log dl {
  width: 555px;
  margin-bottom: 70px;
}

.list_dl_dc_log dl dt {
  letter-spacing: 1px;
  line-height: 2;
}

.list_dl_dc_log dl:last-of-type,
.list_dl_dc_log dl:nth-last-of-type(2) {
  margin-bottom: 0px;
}

.item_dc-log>div {
  width: 655px;
}

.item_dc-log>figure {
  width: 518px;
}

.box_dc-log .txt_dc-bog {
  width: 476px;
}

.box_dc-log .table_dc-log {
  width: 710px;
}

.table_two_col,
.table_three_col {
  width: 100%;
  background-color: #eef8ff;
}

.table_two_col th,
.table_three_col th {
  background-color: #e3e3e3;
  color: #0175ce;
}

.table_two_col th,
.table_two_col td,
.table_three_col th,
.table_three_col td {
  border: 1px solid #0175ce;
  vertical-align: middle;
}

.table_three_col th {
  font-size: 16px;
}

.table_three_col th,
.table_three_col td {
  width: 33.3333%;
  padding: 18px 20px;
}

.table_two_col th,
.table_two_col td {
  width: 50%;
  padding: 5px 12px;
}

.f22 {
  font-size: 22px !important;
}

.tt_h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #0175ce;
  padding: 20px;
}

.tt_h5 span {
  padding-left: 10px;
  border-left: 6px solid #ffffff;
}

.list_tb_dc_log {
  padding-right: 64px;
}

.list_tb_dc_log>div {
  width: 433px;
}

.list_tb_dc_log>dl {
  width: 660px;
}

.list_tb_dc_log>dl ul.flex li {
  width: 315px;
}

.box_col03>li {
  margin-top: 25px;
  width: 380px;
}

.box_col03>li:nth-of-type(3n-1) {
  margin-left: 30px;
  margin-right: 30px;
}

.mt70 {
  margin-top: 70px;
}

.page_dc_log .bn_sec_top04 {
  margin-top: 70px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  .tt_h2 span,
  .tt_sec {
    font-weight: 900;
  }
}