@charset "UTF-8";
@-webkit-keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

@keyframes circle {
  0% {
    opacity: 1; }
  40% {
    opacity: 1; }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0; } }

#mainvisual {
  background: url(../images/mvsp.png) no-repeat center center;
  background-size: cover;
  padding-top: 8.5vw;
  padding-bottom: 14vw; }

#mainvisual img {
  width: 76%; }

#mainvisual h1 span {
  display: block;
  font-size: 3.5vw;
  color: #ffffff;
  font-weight: 600;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

@media all and (min-width: 641px) {
  #mainvisual h1 span {
    font-size: 30px; } }

.news_top > div {
  width: 100%;
  max-width: 100%;
  margin: 0 auto; }

.box_news > a {
  padding: 27px 1%;
  color: #ffffff;
  font-weight: 600;
  text-decoration: underline;
  font-size: 20px; }

.box_news > div {
  width: 100%; }

.box_news > div dl {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 10px; }

.box_news > div dl dd {
  width: 100%; }

.swiper-container {
  height: 60px;
  margin-top: 15px; }

.swiper-container .swiper-slide a {
  display: block;
  padding-right: 8px; }

.swiper-container .swiper-slide dl {
  width: 100%; }

.swiper-container .swiper-slide dt,
.swiper-container .swiper-slide dd {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.swiper-container .swiper-slide dd p {
  line-height: 2;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 40px; }

.box_news {
  z-index: 2;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  margin-top: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.box_news .tit {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  padding: 0;
  font-size: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

@media all and (min-width: 641px) {
  .box_news .tit {
    font-size: 18px; } }

.box_news .info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  width: auto;
  max-width: 70%; }

.box_news > a {
  background-color: #0f99da;
  text-align: center; }

.swiper_btn {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -12px;
  z-index: 9; }

.swiper_btn li {
  width: 24px;
  height: 24px; }

.swiper_btn li img {
  height: 24px; }

.swiper-button1 {
  margin-left: 5px; }

.sec_top01 {
  margin-top: 40px; }

.item_sec_top01 {
  background: url(../images/bg_long01_sp.png) no-repeat top center;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 30px;
  margin-top: 35px; }

.text_item_sec_top01 {
  text-align: center; }

.img_item_sec_top01 {
  margin-top: -110px;
  -webkit-box-shadow: 0px 0px 20px #ccccce;
  -moz-box-shadow: 0px 0px 20px #ccccce;
  box-shadow: 0px 0px 20px #ccccce; }

.sec_top02 {
  padding-top: 35px; }

.text_item_sec_top02 {
  margin-top: 30px; }

.text_item_sec_top02 h3 {
  font-size: 20px; }

.text_item_sec_top02 p {
  text-align: justify;
  width: 90%; }

.img_item_sec_top01 figure {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 20px #ccccce;
  -moz-box-shadow: 0px 0px 20px #ccccce;
  box-shadow: 0px 0px 20px #ccccce; }

.bg01_sec_top02 {
  margin-top: 30px; }

.bg01_sec_top02 ul.white > li {
  width: 100%;
  padding: 25px 3%; }

.bg01_sec_top02 ul.white > li:first-child {
  background: url(../images/imgbg01_sp.png) no-repeat center center;
  background-size: cover; }

.bg01_sec_top02 ul.white > li:last-child {
  background: url(../images/imgbg02_sp.png) no-repeat center center;
  background-size: cover; }

.bg01_sec_top02 ul.white > li p {
  text-align: center; }

.bg01_sec_top02 ul.white span.bg_blue {
  width: 140px;
  display: inline-block;
  padding: 5px; }

.bg02_sec_top02 {
  background: url(../images/bg2_sp.png) no-repeat center center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px; }

.bg02_sec_top02 > div {
  width: 86%;
  max-width: 100%;
  margin: 0 auto; }

.bg02_sec_top02 > div h3 {
  margin-bottom: 10px; }

.bg02_sec_top02 > div .btn01_long {
  width: 86%;
  margin-right: 0; }

.bg02_sec_top02 > div > div.bg_blue {
  padding: 30px 0px;
  margin-bottom: 20px; }

.bg02_sec_top02 > div li {
  margin-top: 10px;
  width: 80%; }

.bg02_sec_top02 > div li:nth-of-type(3n-1) {
  margin-left: 30px;
  margin-right: 30px; }

.bg02_sec_top02 > div li figure {
  overflow: hidden; }

.bg02_sec_top02 > div li figure img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.bg02_sec_top02 > div li figure a {
  color: #ffffff; }

.bg02_sec_top02 > div li figcaption.asb {
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 3;
  font-size: 18px; }

.sec_top03 {
  background: url(../images/bg_long02_sp.png) no-repeat center top;
  background-size: cover;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: 30px; }

.tt_tootip span {
  padding: 12px 15px;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold; }

.tt_tootip span::before {
  content: "";
  width: 100%;
  height: 9px;
  top: 100%;
  background: url(../images/tg.png) no-repeat center top;
  position: absolute;
  left: 0; }

.ul_sec_top03 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ul_sec_top03 > li {
  width: 48%;
  margin-bottom: 6%;
  text-align: center;
  position: relative;
  padding: 17px 5px;
  background-color: #0d57b0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 7px #dedede;
  -moz-box-shadow: 0px 0px 7px #dedede;
  box-shadow: 0px 0px 7px #dedede; }

.ul_sec_top03 > li p {
  font-size: 11px; }

.ul_sec_top03 > li img {
  height: 50px; }

.ul_sec_top03 > li::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 80%;
  left: 10%;
  z-index: 3;
  bottom: -8px;
  background-color: #0175ce; }

.ul_sec_top03 > li p.letter span,
.ul_sec_top03 > li p.letter span::before {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }

.ul_sec_top03 > li p.letter span {
  display: inline-block;
  position: relative; }

.ul_sec_top03 > li p.letter span::before {
  content: "";
  width: 22px;
  height: 22px;
  background: url(../common_img/icon_w.png) no-repeat 0 0;
  position: absolute;
  z-index: -2;
  right: -22px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%); }

.ul_sec_top03 > li h3 {
  margin-top: 10px;
  margin-bottom: 7px;
  font-size: 17px; }

.sec_top04 {
  background-color: #e7f5fb;
  z-index: 2; }

.sec_top04::before,
.sec_top04 > div > div.inline_block::after {
  content: "";
  position: absolute;
  top: 0;
  background-color: #ffffff;
  z-index: -1; }

.sec_top04::before {
  width: 100%;
  height: 165px;
  left: 0; }

.sec_top04 > div > div.inline_block:after {
  width: 500px;
  right: 100%;
  margin-right: 60px;
  height: 100%; }

.ul_sec_top04 .img_sec_top04 {
  width: 723px; }

.ul_sec_top04 .img_sec_top04 figure {
  -webkit-box-shadow: 0px 0px 20px #ccccce;
  -moz-box-shadow: 0px 0px 20px #ccccce;
  box-shadow: 0px 0px 20px #ccccce; }

.ul_sec_top04 .text_sec_top04 {
  width: 100%; }

.ul_sec_top04 .text_sec_top04 p {
  line-height: 2;
  letter-spacing: 0.5px; }

.sec_top05 {
  background: url(../images/bg_long03_sp.png) no-repeat center center;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 35px; }

.ul_sec_top05 > li {
  width: 100%;
  position: relative;
  background-color: #ffffff;
  margin-bottom: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-box-shadow: 0 0 20px #dedede;
  box-shadow: 0 0 20px #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.ul_sec_top05 > li dd {
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px !important; }

.ul_sec_top05 > li figure {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 37%;
  flex: 0 0 37%;
  min-height: 94px; }

.ul_sec_top05 > li figure img {
  min-height: 94px; }

.ul_sec_top05 > li dl {
  padding: 10px 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 10px; }

.ul_sec_top05 > li dt {
  font-size: 20px;
  color: #0175ce; }

.ul_sec_top05 > li img {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; }
