@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700&display=swap&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Thin.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Light.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Medium.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Bold.otf) format("opentype");
}

@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Black.otf) format("opentype");
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.hidden {
    display: none;
}

.mt04 {
    margin-top: 3px;
}

.mt35 {
    margin-top: 35px;
}

.mt25 {
    margin-top: 25px;
}

.mb75 {
    margin-bottom: 75px;
}

.mb80 {
    margin-bottom: 80px;
}

.mt05 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.pt20 {
    padding-top: 20px;
}

.mt40 {
    margin-top: 40px;
}

.f24 {
    font-size: 20px;
}

.mt15 {
    margin-top: 15px;
}

.mt50 {
    margin-top: 50px;
}

.pt15 {
    padding-top: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.blue {
    color: #0175ce;
}

.pt70 {
    padding-top: 70px;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.gothic {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body {
    max-width: 640px;
    margin: 0 auto;
    font-family: 'Noto Sans JP';
}

body p {
    font-size: 13px;
    font-family: 'Noto Sans JP';
    line-height: 1.8 !important;
    font-weight: 300;
}

#wrapper,
.container {
    width: 100%;
    min-width: 100%;
    max-width: 640px !important;
}

.container {
    padding: 0 3%;
}

.flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

a.en {
    color: #0175ce;
    padding: 6px 15px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #0175ce;
}

.ul_header01 li {
    margin-left: 5px;
    width: 44px;
    height: 44px;
}

.ul_header01 li:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header {
    padding: 10px 0;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header figure {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
}

.header .ul_header01 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    border: 1px solid #0175ce;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3px 5px;
    min-height: 44px;
}

.hamburger_inside {
    z-index: 99;
    position: relative;
    min-height: 20px;
    top: 1px;
    height: 78%;
    width: 76%;
}

.hamburger_inside span {
    height: 3px;
    position: absolute;
    background: #0175ce;
    display: inline-block;
    width: 100%;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.hamburger_inside span:first-child {
    top: 0;
}

.hamburger_inside span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    margin-top: -2px;
}

.hamburger_inside span:last-child {
    bottom: 0;
}

.bg_sky {
    background-color: #f3fafd;
    z-index: 99;
    position: relative;
}

.bg_sky.nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    padding-top: 70px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}

.bg_sky.nav .nav__inside {
    position: absolute;
    left: -100%;
    width: 89%;
    background: #f4fafd;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
    padding-bottom: 50px;
}

.bg_sky.nav.show {
    left: 0;
    opacity: 1;
}

.bg_sky .hassub .acr_title {
    position: relative;
}

.bg_sky .hassub .acr_title:after {
    content: '';
    position: absolute;
    background: url(../images/tg.png) no-repeat right center;
    background-size: 14px;
    width: 18px;
    height: 9px;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}

.bg_sky .hassub .acr_title.open:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.menu-open {
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.menu-open .nav.show .nav__inside {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.menu-open .hamburger {
    background: #0175ce;
}

.menu-open .hamburger_inside {
    top: 1px;
}

.menu-open .hamburger_inside span {
    background: #fff;
    height: 4px;
}

.menu-open .hamburger_inside span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-225deg);
    -ms-transform: translateY(8px) rotate(-225deg);
    transform: translateY(8px) rotate(-225deg);
}

.menu-open .hamburger_inside span:nth-child(2) {
    -webkit-transform: translateY(0) rotate(225deg);
    -ms-transform: translateY(0) rotate(225deg);
    transform: translateY(0) rotate(225deg);
    width: 100%;
}

.menu-open .hamburger_inside span:nth-child(3) {
    opacity: 0;
}

.list_menu>li {
    width: 100%;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #909caa;
}

.list_menu>li:last-child {
    text-align: center;
    margin-top: 10px;
    border-bottom: none;
}

.list_menu>li:last-child a {
    max-width: 100px;
    color: #0175ce;
    padding: 6px 15px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #0175ce;
    background: #fff;
}

.list_menu>li strong {
    display: block;
    color: #909caa;
    line-height: 1.3;
    font-size: 16px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.list_menu>li a {
    width: 100%;
    text-decoration: none;
    padding: 12px 15px 11px;
    padding-left: 0;
    color: #222222;
    display: inline-block;
}

.list_menu>li>ul {
    width: 100%;
    text-align: left;
    border-top: 1px solid #909caa;
    display: none;
}

.list_menu>li>ul>li>a {
    border-bottom: 1px solid #eeeeee;
}

.tt01 {
    padding-bottom: 12px;
    position: relative;
}

.tt01 img {
    max-height: 25px;
}

.tt01::before {
    content: "";
    left: 0px;
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 1px;
    border-bottom: 1px solid #00053b;
}

.tt01_center {
    text-align: center;
}

.tt01_center::before {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.tt01_white {
    color: #ffffff;
}

.tt01_white span {
    color: #ffffff !important;
}

.tt01_white::before {
    border-bottom-color: #ffffff;
}

.tt01 span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    color: #00053b;
    font-weight: bold;
}

.btn01 {
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #1d9fdc;
    padding: 10px 41px 10px 22px;
    display: inline-block;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.btn01 span {
    margin-right: 23px;
}

.btn01_white {
    border-color: #ffffff;
    font-size: 16px;
    color: #ffffff;
    background-image: url(../common_img/icon_w.png);
    width: 80%;
}

.btn01_long {
    width: 100%;
    font-size: 15px;
    text-align: center;
}

p.letter {
    letter-spacing: 1.2px;
    line-height: 1.8;
}

.white {
    color: #ffffff;
}

.bg_blue {
    background-color: #0175ce;
}

.sec_top06 {
    background: url(../images/bg_long04_sp.png) no-repeat center center;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;
}

.sec_top06 li {
    width: 100%;
}

.sec_top06 dd {
    font-size: 12px;
    font-weight: bold;
    padding-left: 20px;
}

.page_up a {
    background: #fff;
    border-radius: 100%;
    display: block;
}

.item_sec_top06 {
    z-index: 1;
}

.item_sec_top06 h3 {
    font-size: 3.9vw;
}

.item_sec_top06 .roboto {
    font-size: 27px;
}

.f18 {
    font-size: 18px;
}

.info_footer {
    background-color: #364151;
    padding-top: 35px;
    padding-bottom: 0;
}

.info_footer--top {
    width: 86%;
    margin: 0 auto;
}

.info_footer--top figure {
    text-align: center;
}

.info_footer--top figure img {
    height: 60px;
}

.info_footer--top p {
    font-size: 13px;
}

.info_footer--top .link {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
}

.info_footer--top .link a {
    color: #fff;
    font-weight: bold;
}

.info_footer .navft {
    color: #fff;
    margin-top: 25px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.info_footer .navft ul {
    width: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
}

.info_footer .navft ul:last-child {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-top: -30px;
}

@media all and (max-width: 420px) {
    .info_footer .navft ul:last-child {
        margin-top: -72px;
    }
}

.info_footer .navft ul:last-child li:first-child {
    margin-left: 5px;
}

.info_footer .navft a {
    color: #fff;
}

.info_footer a.map {
    color: #0f99da;
    text-decoration: underline;
}

.menu_right>div>ul {
    width: 300px;
}

.menu_right li {
    margin-bottom: 5px;
    color: #ffffff;
}

.menu_right a {
    color: #ffffff;
    font-size: 12px;
}

.copyright {
    padding: 8px 0px;
    background-color: #0175ce;
}

.PC {
    text-align: center;
}

.PC a {
    padding: 12px 0;
    display: block;
}

.PC img {
    height: 24px;
}

.page_up {
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 33;
}

.mr75 {
    margin-right: 75px;
}

.item_sec_top06 .btn_contact {
    margin-top: 10px;
}

.item_sec_top06 .btn_contact span {
    font-size: 16px;
    background-size: auto 21px;
}

.item_sec_top06 .phone .roboto {
    font-size: 27px;
    line-height: 0.9;
    padding-left: 28px;
    background: url(../images/phone_big.png) no-repeat left center;
    background-size: 20px;
    font-weight: bold;
}

.bn_sec_top04 {
    border: 3px solid #ffffff;
    background: url(../images/bg02_sp.png) no-repeat center center;
    background-size: cover;
    padding: 15px 10px 20px;
    margin-bottom: 35px;
}

.bn_sec_top04 .phone dd {
    font-size: 12px;
    font-weight: bold;
}

.bn_sec_top04 h3 {
    font-size: 16px;
    color: #0175ce;
}

.bn_sec_top04 li {
    margin: 0px 25px;
}

.bn_sec_top04 .btn_contact {
    width: 200px;
    margin-top: 10px;
}

.bn_sec_top04 .phone .roboto {
    font-size: 28px;
    line-height: 0.9;
    font-weight: bold;
    padding-left: 30px;
    background: url(../common_img/phone.png) no-repeat left center;
    background-size: 23px;
}

.btn_contact {
    background-color: #0175ce;
    text-align: center;
    width: 222px;
    text-decoration: none !important;
    display: inline-block;
    padding: 12px 1%;
}

.btn_contact span {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-left: 42px;
    background: url(../common_img/mail.png) no-repeat left center;
}


/**/

.tt_mv {
    padding: 20px 0;
}

.sec_top06 {
    .item_sec_top06 h3 {
        font-size: 24px;
    }
}

.sec_top06 {
    .item_sec_top06 h3 {
        margin-right: 150px;
    }
}

@media all and (max-width: 420px) {
    .tt_mv {
        h1 {
            img {
                height: 50px;
            }
        }
    }
    .sec_top06 {
        .item_sec_top06 h3 {
            font-size: 17px;
            margin-right: 50px;
        }
    }
}