@charset "UTF-8";
@import "./components/mixins";
@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.mv {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mv .tt_mv .h20 {
    height: 20px;
}

.mt100 {
    margin-top: 100px !important;
}

.mb35 {
    margin-bottom: 60px !important;
    @include query(414) {
        margin-bottom: 35px !important;
    }
}

.mv_product {
    background-image: url(../product_introduction/images/mv.png);
}

.mv_product {
    background-image: url(../product/images/mv.png);
}

.mv_about-en {
    background-image: url(../about/images/mv.png);
}

.mv_about {
    background-image: url(../about/images/mv.png);
}

.mv_contact {
    background-image: url(../contact/images/mv.png);
    img {
        @include query(414) {
            height: 80px;
        }
    }
}

.mv_case {
    background-image: url(../case/images/mv.png);
}

.mv_conv {
    background-image: url(../conv/images/mv.png);
}

.mv_dc-log {
    background-image: url(../dc_log/images/mv.png);
}

.mv_busylight {
    background-image: url(../busylight/images/mv.png);
}

.mv_plus {
    background-image: url(../plus/images/mv.png);
}

.mv_pbx {
    background-image: url(../pbx/images/mv.png);
}

.mv_products {
    background-image: url(../product/images/mv.png);
}

.mv_topics {
    background-image: url(../topics/images/mv.png);
}

.mv_solution {
    background-image: url(../solution/images/mv.png);
}

.mv_smart-plus {
    background-image: url(../smart/images/mv.png);
}

.mv span {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 7px;
    margin-left: -3px;
    line-height: 1;
    color: #ffffff;
}

#breadcrumb {
    display: none;
    font-size: 12px;
    margin-top: 7px;
}

#breadcrumb li {
    float: left;
}

#breadcrumb span {
    letter-spacing: 1.5px;
}

#breadcrumb a {
    color: #0175ce;
    text-decoration: underline;
}

.tt_sec {
    font-size: 27px;
    color: #0175ce;
    font-weight: bold;
    margin-bottom: 5px;
    @include query(414) {
        font-size: 21px;
    }
}

.sec {
    margin-top: 80px;
}

.sec_blue {
    background-color: #eef8ff;
}

.sec_gray {
    background-color: #eeeeee;
}

.sec_item {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.mb40 {
    margin-bottom: 40px !important;
}

.sec_item>figure {
    width: 100%;
    margin: 0 auto;
    margin-top: -90px;
    margin-bottom: 20px;
}

.sec_item>figure img {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sec_item>div {
    width: 570px;
}

.sec_item>div p {
    letter-spacing: 1px;
    line-height: 1.8;
    text-align: justify;
}

.pt55 {
    padding-top: 55px;
}

.pb98 {
    padding-bottom: 50px;
}

.btn01_sky {
    background-color: #e7f5fb;
}

.mt55 {
    margin-top: 40px;
}

.sec_bannar_about_en {
    background: url(../about/images/bg.png) no-repeat center center;
    min-height: 280px;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    color: #ffffff;
}

.sec_bannar_about_en p {
    line-height: 2;
    letter-spacing: 1.5px;
}

.tt_about_en {
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 15px;
}

.tt_subpage span,
.tt_h2 span {
    margin-top: 0;
    position: relative;
    color: #00053b;
    display: inline-block;
    padding-bottom: 5px;
    font-weight: 600;
}

.tt_subpage span::before,
.tt_h2 span::before {
    position: absolute;
    content: "";
    top: 100%;
    max-width: 80%;
    left: 50%;
    width: 100px;
    height: 1px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-bottom: 1px solid #00053b;
}

.tt_h2 span {
    font-weight: bold;
    font-size: 23px;
}

.mt60 {
    margin-top: 60px;
}

.form_contact dl,
.form_contact dl>dt,
.form_contact dl>dd,
.item_about dl,
.item_about dl>dt,
.item_about dl>dd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
}

.form_contact dl,
.item_about dl {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-top: 1px solid #364151;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form_contact dl:last-of-type,
.item_about dl:last-of-type {
    border-bottom: 1px solid #364151;
}

.form_contact dl>dt,
.form_contact dl>dd,
.item_about dl>dt,
.item_about dl>dd {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.form_contact dl>dt,
.item_about dl>dt {
    font-size: 14px;
    width: 100%;
}

.form_contact dl>dd,
.item_about dl>dd {
    width: 100%;
}

.item_about dl>dt {
    background-color: #0175ce;
    font-weight: 600;
    color: #ffffff;
}

.item_about dl>dd>ul>li {
    margin-bottom: 10px;
}

.item_about dl>dt,
.item_about dl>dd {
    padding: 10px 15px;
}

.mt75 {
    margin-top: 75px;
}

.info_map {
    margin-top: 20px;
    margin-bottom: 50px;
}

.info_map p {
    line-height: 2;
    letter-spacing: 1.5px;
}

.bn_contact {
    background: url(../contact/images/bn.png) no-repeat center center;
    background-size: cover;
    position: relative;
    padding: 20px 15px;
    border: 1px solid #e7f5fb;
    .block-info {
        margin-bottom: 15px;
    }
}

.bn_contact::after {
    content: "";
    right: 0;
    bottom: 0;
    z-index: 3;
    position: absolute;
    width: 222px;
    height: 262px;
    background: url(../contact/images/person.png) no-repeat 0 0;
}

.bn_contact p {
    line-height: 2;
}

.bn_contact>div:first-of-type {
    width: 380px;
    margin-right: 50px;
    @include query(414) {
        width: 260px;
    }
}

.bn_contact>div:last-of-type {
    width: 315px;
}

.bn_contact dt span {
    font-size: 43px;
    font-weight: 500;
    line-height: 1.1;
    background: url(../contact/images/tel.png) no-repeat left center;
    padding-left: 35px;
    display: inline-block;
    @include query(414) {
        font-size: 28px;
        background-size: 20px;
        padding-left: 25px;
    }
}

.bn_contact dd {
    font-size: 16px;
    font-weight: 600;
    @include query(414) {
        font-size: 12px;
    }
}

.list_radio li {
    float: left;
    margin-right: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form_contact dt {
    background-color: #e7f5fb;
    position: relative;
    padding-left: 80px;
    font-weight: 600;
}

.form_contact dt.icon_blue::before {
    content: "必須";
    background-color: #0d57b0;
}

.form_contact dt.icon_bl::before {
    content: "任意";
    background-color: #000000;
}

.form_contact dt::before {
    color: #ffffff;
    font-size: 12px;
    border-radius: 3px;
    padding: 1px 6px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 2;
}

.form_contact dd,
.form_contact dt {
    padding: 10px
}

.form_contact dt {
    padding-left: 60px;
}

.form_contact input[type="text"],
.form_contact input[type="email"] {
    height: 40px;
    width: 100%;
    padding-left: 7px;
}

.form_contact input[type="text"].request~span,
.form_contact input[type="email"].request~span {
    background-color: #eeeeee;
    padding: 3px 7px;
    display: inline-block;
}

.form_contact select,
.form_contact input[type="text"].request {
    height: 40px;
    width: 250px;
}

.form_contact input,
.form_contact select,
.form_contact textarea {
    font-family: "Noto Sans Japanese", "Meiryo", "メイリオ", "MS PGothic", "MS Pゴシック", sans-serif;
}

.form_contact textarea {
    width: 100%;
    height: 170px;
    padding-left: 7px;
    padding-top: 7px;
}

.mb25 {
    margin-bottom: 25px;
}

.btn_ct {
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    color: #ffffff;
    width: 255px;
    display: inline-block;
    padding: 18px 10px;
    background-color: #0175ce;
    @include query(414) {
        font-size: 16px;
    }
}

.pp {
    margin-top: 30px;
    margin-bottom: 80px;
}

.pp h3.gothic {
    font-size: 17px;
    font-weight: 600;
}

.box_blue {
    padding: 20px;
    border: 2px solid #0175ce;
}

.list_pp li {
    position: relative;
    padding-left: 20px;
}

.list_pp li:nth-of-type(n+2) {
    margin-top: 5px;
}

.list_pp li::before {
    content: "●";
    left: 0;
    color: #0175ce;
    position: absolute;
    z-index: 2;
    top: 0;
}

.page_about .sec_item>div p {
    letter-spacing: 1.5px;
}

.tt_subpage span {
    font-size: 18px;
    width: 100%;
}

.mt45 {
    margin-top: 45px;
}

.h3_subpage {
    padding: 10px;
    background-color: #0175ce;
}

.h3_subpage.h3_subpage_big {
    font-size: 20px;
    padding: 5px 10px;
}

.h3_subpage span {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}

.h3_subpage small {
    color: #00053b;
    background-color: #e7f5fb;
    margin-right: 30px;
    display: inline-block;
    padding: 4px 9px;
    line-height: 1.4;
}

.item_case {
    margin-top: 43px;
}

.item_case>div {
    width: 590px;
}

.item_case>div p {
    line-height: 2;
}

.item_case>figure,
.item_case>ul {
    width: 584px;
}

.item_case>ul {
    background-color: #e7f5fb;
}

.item_case>ul table {
    width: 320px;
}

.item_case>ul table th {
    padding-left: 7px;
    width: 90px;
}

.item_case>ul table td,
.item_case>ul table th {
    border-bottom: 1px solid #0d57b0;
    vertical-align: middle;
}

.tt_blue {
    color: #0175ce;
    font-size: 22px;
    border-left: 3px solid #0175ce;
    padding-left: 15px;
}

.ul_index li {
    text-indent: -15px;
    padding-left: 15px;
    margin-bottom: 7px;
}

.ul_index1 li {
    text-indent: -25px;
    padding-left: 25px;
    margin-bottom: 7px;
}

.f27 {
    font-size: 27px;
}

.red {
    color: #ff0000;
}

.box_line_blue {
    margin-top: 60px;
    border: 2px solid #0175ce;
    background-color: #e7f5fb;
    padding: 25px 30px;
}

.box_line_blue>ul {
    padding-left: 30px;
}

.box_line_blue>ul span.red {
    font-size: 16px;
}

.conv01 {
    background-color: #e7f5fb;
}

.dc_log01 .ul_conv01 h2 {
    line-height: 3;
}

.dc_log01 .ul_conv01 li:first-of-type {
    width: 445px;
    margin-right: -89px;
}

.dc_log01 .ul_conv01 li:last-of-type {
    width: 894px;
    margin-right: -64px;
}

.ul_conv01 h2 {
    font-size: 24px;
}

.ul_conv01 h3 {
    font-size: 20px;
}

.ul_conv01 li:first-of-type {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 500px;
    margin-right: 25px;
}

.ul_conv01 li:last-of-type {
    // width: 675px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.list_btn_conv {
    margin-left: -15px;
    margin-right: -15px;
}

.list_btn_conv li {
    width: 380px;
    margin: 0px 15px 20px;
}

.btn_anchor {
    background: url(../conv/images/icon.png) no-repeat right 30px center #e7f5fb;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #1d9fdc;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    padding-right: 40px;
    padding-left: 15px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn_anchor span {
    width: 100%;
}

.item_conv>dl {
    width: 285px;
    border: 2px solid #0175ce;
    background-color: #e7f5fb;
    padding: 15px;
    margin-right: 20px;
}

.item_conv>dl:nth-of-type(4n) {
    margin-right: 0px;
}

.item_conv>dl:nth-of-type(n+5) {
    margin-top: 40px;
}

.item_conv>dl>dt {
    font-weight: 600;
    text-align: center;
    font-size: 22px;
    color: #0175ce;
    margin-bottom: 20px;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.item_conv>dl>dt p {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

.item_conv>dl>dd {
    line-height: 2;
}

.info_conv>div:first-of-type {
    width: 730px;
}

.info_conv>div:last-of-type {
    width: 410px;
}

.info_conv h5 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.info_conv p {
    line-height: 2;
    margin-bottom: 30px;
}

.box_bl {
    color: #ffffff;
    width: 550px;
    background-color: #0175ce;
    padding: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box_bl>div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
}

.box_bl:nth-of-type(n+3) {
    margin-top: 20px;
}

.box_bl dt {
    font-size: 17px;
    font-weight: 600;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding-left: 9px;
    border-left: 5px solid #ffffff;
}

.box_bl dl {
    width: 280px;
}

.box_bl dl.w100 {
    width: 100%;
}

.box_bl .btn01 {
    margin-top: 12px;
    background-color: #eef8ff;
    min-width: 217px;
    font-size: 14px;
    padding-top: 9px;
    border: 1px solid #1d9fdc;
    padding-bottom: 9px;
}

.page_conv .bn_sec_top04 {
    margin-top: 35px;
}

.tt_conv {
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    color: #0175ce;
}

.conv04 {
    background: url(../conv/images/bg.png) no-repeat top left;
    padding: 30px 0px 78px;
    margin-top: 35px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb40 {
    padding-bottom: 40px;
}

.list_box_bn li {
    width: 585px;
    padding-top: 40px;
    color: #ffffff;
    background-color: #0d57b0;
    margin-top: 30px;
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

.list_box_bn li>p span {
    padding: 3px 25px;
    min-width: 310px;
    display: inline-block;
    background-color: #0175ce;
}

.list_box_bn li h3 {
    font-size: 24px;
    font-weight: 600;
}

.list_box_bn li.box_conv01 {
    background: url(../conv/images/bn01.png) no-repeat center center/cover;
}

.list_box_bn li.box_conv02 {
    background: url(../conv/images/bn02.png) no-repeat center center/cover;
}

.list_box_bn li.after::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 270px;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    bottom: -12px;
    background-color: #0175ce;
}

.tt {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.item_dc_log>div,
.item_dc_log>figure {
    width: 580px;
}

.line_blue {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #0d57b0;
}

.list_dl_dc_log dl {
    width: 555px;
    margin-bottom: 70px;
}

.list_dl_dc_log dl dt {
    letter-spacing: 1px;
    line-height: 2;
}

.list_dl_dc_log dl:last-of-type,
.list_dl_dc_log dl:nth-last-of-type(2) {
    margin-bottom: 0px;
}

// .item_dc-log>div {
//     width: 655px;
// }
// .item_dc-log>figure {
//     width: 518px;
// }
// .box_dc-log .txt_dc-bog {
//     width: 476px;
// }
// .box_dc-log .table_dc-log {
//     width: 710px;
// }
.table_two_col,
.table_three_col {
    width: 100%;
    background-color: #eef8ff;
}

.table_two_col th,
.table_three_col th {
    background-color: #e3e3e3;
    color: #0175ce;
}

.table_two_col th,
.table_two_col td,
.table_three_col th,
.table_three_col td {
    border: 1px solid #0175ce;
    vertical-align: middle;
}

.table_three_col th {
    font-size: 16px;
}

.table_three_col th,
.table_three_col td {
    width: 33.3333%;
    padding: 18px 20px;
}

.info_busylight04 {
    width: 100%;
    .bg_blue {
        ul {
            padding: 20px;
            li {
                p {
                    color: #ffffff;
                }
            }
        }
    }
}

.table_two_col th,
.table_two_col td {
    padding: 5px 12px;
}

.table_two_col th {
    width: 30%;
}

.table_two_col td {
    width: 70%;
}

.f22 {
    font-size: 22px !important;
}

.tt_h5 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    background-color: #0175ce;
    padding: 10px;
}

.tt_h5 span {
    padding-left: 10px;
    border-left: 6px solid #ffffff;
}

.mt70 {
    margin-top: 70px;
}

.page_dc_log .bn_sec_top04 {
    margin-top: 70px;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .tt_h2 span,
    .tt_sec {
        font-weight: 900;
    }
}


/* dung chung */

body p {
    font-size: 14px;
}

@import "phuc.scss";
@charset "UTF-8";
@import "./components/mixins";
.fss {
    @include flexbox(flex-start, flex-start)
}

.fsc {
    @include flexbox(flex-start, center)
}

.fcc {
    @include flexbox(center, center)
}

.fsp {
    @include flexbox(space-between, flex-start)
}

.m0a {
    margin: 0 auto
}

.fww {
    flex-wrap: wrap;
}

.df {
    display: flex
}

.db {
    display: block
}

.dn {
    display: none
}

.fwb {
    font-weight: bold;
}

.fwn {
    font-weight: normal;
}

.fwl {
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

.por {
    position: relative
}

.ctboth {
    @include centerboth()
}

.ctver {
    @include centerver()
}

.cthor {
    @include centerhor();
}

.br100p {
    border-radius: 100px;
}

.row {
    @include flexbox(flex-start, flex-start);
    flex-wrap: wrap;
}

.center {
    text-align: center;
}

.relative {
    position: relative;
}

.lsp05 {
    letter-spacing: 0.5px;
}

.lsp1 {
    letter-spacing: 1px;
}

.lsp15 {
    letter-spacing: 1.5px;
}

.lsp2 {
    letter-spacing: 2px;
}

.lh0 {
    line-height: 0;
}

.lh1 {
    line-height: 1;
}

.lh15 {
    line-height: 1.5;
}

.lh16 {
    line-height: 1.6;
}

.lh17 {
    line-height: 1.7;
}

.lh18 {
    line-height: 1.8;
}

.lh19 {
    line-height: 1.9;
}

.lh20 {
    line-height: 2.0;
}

.lh22 {
    line-height: 2.2;
}

.lh24 {
    line-height: 2.4;
}

.lh26 {
    line-height: 2.6;
}

.bnone {
    border: none
}

.pointer {
    &:hover {
        cursor: pointer;
    }
}

.hauto {
    height: auto !important;
}

.mhauto {
    min-height: auto !important;
}

.mxhauto {
    min-height: auto !important;
}

.mxhauto {
    min-height: auto !important;
}

.list_anchor_solution li {
    background: url(../solution/images/tg.png) no-repeat center bottom 5px #0d57b0;
    color: #ffffff;
    padding: 5px 5px 30px;
    margin-bottom: 15px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    width: 48.5%;
    text-align: center;
    margin-right: 3% !important;
    background-size: 20px;
    &:nth-child(2n) {
        margin-right: 0px !important;
    }
    &:last-child {
        h3 {
            margin-bottom: 28px;
        }
    }
}

.list_anchor_solution li:nth-of-type(3n) {
    margin-right: 0px;
}

.list_anchor_solution li h3 {
    font-size: 18px;
    line-height: 1.6;
}

.tt_solution {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}

.item_solution>div {
    width: 100%;
}

body p {
    line-height: 1.6 !important;
}

.list_item_solution>li {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #0175ce;
    padding: 10px;
    background-color: #e7f5fb;
    @include query(414) {
        margin-top: 15px;
    }
    &:first-child {
        margin-top: 0;
    }
}

.list_item_solution>li>figure {
    width: 50%;
    float: left;
    ~.pull-right {
        @include widthbox(100%, 54%);
        dt {
            margin-top: 0px !important;
        }
        dd {
            margin-top: 0px !important;
        }
    }
}

.list_item_solution>li>dl {
    width: 100%;
}

.btn_solution {
    width: 90%;
    text-align: center;
    letter-spacing: 1px;
    padding-left: 41px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    background-color: #e7f5fb;
}

.btn_solution span {
    padding-left: 0px;
}

.box_solution {
    padding: 10px;
    border: 1px solid #0175ce;
    background-color: #e7f5fb;
}

.box_solution>figure {
    width: 50%
}

.box_solution>div {
    width: calc(100% - 54%)
}

.list_anchor_solution li h3 {
    margin-top: 10px !important;
    font-size: 16px;
    letter-spacing: 0px;
}

.list_anchor_solution li>figure {
    width: auto;
    height: 60px;
    text-align: center;
    width: 100%;
    margin-top: 0px !important;
    img {
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
}

.list_anchor_solution li {
    display: block;
    text-align: center;
    >div {
        width: auto !important;
    }
    p {
        letter-spacing: 0px !important;
        @include query(380) {
            letter-spacing: -0.8px !important;
            font-size: 13px;
        }
    }
}

.item_solution>figure {
    width: 100%;
    order: 1;
    img {
        width: 100%;
    }
}

.list_btn_conv {
    @include flexbox(flex-start, flex-start);
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    li {
        @include widthbox2(50%, 10px);
        margin-left: 0px !important;
        margin-top: 10px;
        margin-bottom: 0px;
        &:nth-child(2n) {
            margin-right: 0px !important;
        }
    }
}

.sec_item>figure img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.item_plus>dl {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 25px 45px;
}

.item_plus>dl dt {
    font-size: 24px;
}

.item_plus>dl:nth-of-type(3n) {
    margin-right: 0px;
}

.item_plus>dl:nth-of-type(n+4) {
    margin-top: 50px;
}

.btn_plus.btn01 {
    width: 345px;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.tt_white {
    font-size: 18px;
    color: #ffffff;
    padding-left: 11px;
    font-weight: 600;
    border-left: 5px solid #ffffff;
}

.plus02 {
    margin-bottom: 95px;
}

.plus02 .bg_blue {
    padding: 20px 22px;
}

.tb_line_white {
    width: 100%;
}

.tb_line_white th {
    color: #0175ce;
    font-weight: 500;
    font-size: 16px;
    background-color: #e3e3e3;
    padding: 15px 55px;
    width: 245px;
}

.tb_line_white th,
.tb_line_white td {
    vertical-align: middle;
    border: 1px solid #ffffff;
}

.tb_line_white td {
    padding: 15px 35px;
    background-color: #eef8ff;
}

.item_conv>dl,
.item_plus>dl {
    border: 2px solid #0175ce;
    background-color: #e7f5fb;
}

.item_conv>dl>dt,
.item_plus>dl>dt {
    font-weight: 600;
    text-align: center;
    color: #0175ce;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.item_conv>dl>dt p,
.item_plus>dl>dt p {
    letter-spacing: initial !important;
    line-height: 1.5 !important;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

.item_conv>dl {
    width: 285px;
    padding: 15px;
    margin-right: 20px;
}

.item_conv>dl:nth-of-type(4n) {
    margin-right: 0px;
}

.item_conv>dl:nth-of-type(n+5) {
    margin-top: 40px;
}

.item_conv>dl>dt {
    font-size: 21px;
    margin-bottom: 20px;
}

.item_conv>dl>dd {
    line-height: 2;
}

.info_conv>div:first-of-type {
    width: 730px;
}

.info_conv>div:last-of-type {
    width: 410px;
}

.info_conv h5 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.info_conv p {
    line-height: 2;
    margin-bottom: 30px;
}

.box_bl {
    color: #ffffff;
    width: 550px;
    background-color: #0175ce;
    padding: 18px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box_bl>div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
}

.box_bl:nth-of-type(n+3) {
    margin-top: 20px;
}

.box_bl dt {
    font-size: 17px;
    font-weight: 600;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴシック ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    padding-left: 9px;
    border-left: 5px solid #ffffff;
}

.box_bl dl {
    width: 280px;
}

.box_bl dl.w100 {
    width: 100%;
}

.box_bl .btn01 {
    margin-top: 12px;
    background-color: #eef8ff;
    min-width: 217px;
    font-size: 14px;
    padding-top: 9px;
    border: 1px solid #1d9fdc;
    padding-bottom: 9px;
}

.page_conv .bn_sec_top04 {
    margin-top: 35px;
}

.tt_conv {
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    color: #0175ce;
}

.conv04 {
    background: url(../conv/images/bg.png) no-repeat top left;
    padding: 30px 0px 78px;
    margin-top: 35px;
    .pdside {
        padding: 0 80px;
    }
    @include query(414) {
        background: url(../conv/images/bg.png) no-repeat center center;
        background-size: cover;
        .pdside {
            padding: 0;
        }
    }
}

.item_plus>dl>dt p {
    font-size: 18px;
    height: auto !important;
    font-weight: bold;
}

.item_plus>dl {
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    padding: 20px;
    dt {
        img {
            height: 30px;
        }
    }
    dd {
        margin-top: 10px;
    }
}

.sec_item>div p {
    letter-spacing: 0px;
}

.list_btn_conv li {
    font-size: 16px;
    line-height: 1.5 !important;
    span {
        line-height: 1.3 !important;
        font-size: 14px;
    }
}

.plus01 {
    .btn_anchor {
        padding-right: 30px;
        padding-left: 0px;
        background-position: center right 10px;
    }
}

.ul_conv01 h2 {
    font-size: 18px;
    text-align: center;
}

.bg_gray {
    background: #eee;
    padding: 15px;
    h3.gothic.f27.blue {
        font-size: 20px !important;
        margin-bottom: 10px !important;
    }
}

.box_line_blue {
    padding: 15px 10px;
}

h4.gothic.blue.f27 {
    font-size: 20px;
}

.bg_blue.mt25 {
    margin-top: 10px !important;
}

.plus02 .bg_blue {
    padding: 10px;
}

.btn_plus.btn01 {
    width: 100%;
    padding-left: 10px;
}

.tb_line_white {
    display: block;
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100% !important;
    }
    th,
    td {
        padding: 10px;
    }
    td {
        width: 100%;
        display: block;
        p {
            width: 100%;
        }
        @include query(414) {
            letter-spacing: -0.5px;
        }
    }
}

.plus02 {
    margin-bottom: 30px;
}


/* add code thuy */


/* dung chung */

.space-general {
    margin-top: 40px;
    @include query(414) {
        margin-top: 30px;
    }
}

.tt_blue {
    @include query(414) {
        font-size: 22px;
        padding-left: 10px;
    }
}

.btn_anchor {
    background: url(../conv/images/icon.png) no-repeat right 10px center #e7f5fb;
    background-size: 20px;
    @include query(360) {
        padding-right: 35px;
    }
}

.dc_log01 .ul_conv01 li:last-of-type {
    width: 100%;
    margin-right: 0;
}

.dc_log01 .ul_conv01 h2 {
    text-align: center;
    line-height: 1.8;
}

.dc_log01 .ul_conv01 li:first-of-type {
    width: 100%;
    margin-right: 0;
}

.dc_log01 .ul_conv01 li:last-of-type {
    text-align: center;
}

.ul_conv01 h3 {
    text-align: center;
}

.block4 {
    @include flexbox(space-between, center);
    flex-wrap: wrap;
    li {
        width: calc(50% - 10px);
        margin-right: 20px;
        margin-top: 20px;
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
        @include query(414) {
            width: 100%;
            margin-right: 0;
            margin-top: 10px;
            &:nth-child(2) {
                margin-top: 10px;
            }
        }
    }
}

.box_line_blue {
    margin-top: 30px;
    padding: 20px;
    @include query(414) {
        padding: 10px;
    }
    ul {
        padding-left: 0;
    }
    h5 {
        font-size: 27px;
        margin-bottom: 5px;
        @include query(414) {
            font-size: 22px;
        }
    }
}

.page_case {
    .tt_subpage {
        img {
            margin-bottom: 10px;
            @include query(414) {
                height: 25px;
            }
        }
    }
    .figure-center {
        figure {
            text-align: center;
            width: 100%;
        }
    }
    .space-general {
        margin-top: 40px;
        @include query(414) {
            margin-top: 30px;
        }
    }
    .table-stytle1 {
        table {
            width: 100%;
            th,
            td {
                background: #E7F5FB;
                border-bottom: 1px solid #1E51AC;
            }
            th {
                img {
                    height: 47px;
                }
            }
        }
    }
    .h3_subpage {
        small {
            margin-right: 10px;
        }
        span {
            @include query(414) {
                font-size: 20px;
            }
        }
    }
    .tt_blue {
        @include query(414) {
            font-size: 22px;
            padding-left: 10px;
        }
    }
    .box-lamp {
        figure {
            flex: 0 0 40%;
            @include query(414) {
                flex: 0 0 100%;
                height: 200px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .table-stytle1 {
            flex: 0 0 60%;
            @include query(414) {
                flex: 0 0 100%;
            }
        }
    }
}

.page_conv {
    .item_conv>dl {
        width: 100%;
        margin-right: 0px;
        margin-top: 15px;
    }
    .info_conv {
        margin-top: 20px;
        @include query(414) {
            margin-top: 10px;
        }
        h5 {
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 20px;
            @include query(414) {
                margin-bottom: 10px;
            }
        }
    }
    .block2img {
        align-items: flex-start;
    }
    .box_line_blue {
        margin-top: 30px;
        padding: 15px 10px;
    }
    .box_bl {
        width: 100%;
    }
    .box_bl .btn01 {
        display: block;
        text-align: center;
    }
    .inbluebox {
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
    }
    .btn01 {
        padding: 10px;
    }
    .btn01 span {
        font-size: 14px;
    }
    .rankimage {
        dl {
            flex: 0 0 55%;
            @include query(414) {
                flex: 0 0 100%;
            }
        }
        figure {
            flex: 0 0 40%;
            @include query(414) {
                flex: 0 0 100%;
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .item_conv>dl {
        dt {
            margin-bottom: 10px;
            p {
                span {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
    .btn_anchor span {
        @include query(414) {
            line-height: 1.4;
        }
    }
    .list_box_blue {
        .btn01 {
            background-position: right 10px center;
        }
    }
}


/* add code of bro*/

.list_anchor_solution li {
    background: url(../solution/images/tg.png) no-repeat center bottom 30px #0d57b0;
    color: #ffffff;
    padding: 10px 15px 60px;
    margin-bottom: 30px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    width: 48%;
    text-align: center;
    margin-right: 4% !important;
    &:nth-child(2n) {
        margin-right: 0px !important;
    }
    &:nth-child(2n+1) {}
    @include query(414) {
        margin-bottom: 15px;
    }
}

.list_anchor_solution li:nth-of-type(3n) {
    margin-right: 0px;
}

.list_anchor_solution li h3 {
    font-size: 20px;
    line-height: 1.6;
}

.list_anchor_solution li>figure {
    width: 124px;
}

.list_anchor_solution li>div {
    width: 210px;
}

.tt_solution {
    font-weight: 600;
    font-size: 20px;
}

.list_item_solution>li {
    display: inline-block;
    border: 2px solid #0175ce;
    padding: 30px;
    background-color: #e7f5fb;
    @include query(414) {
        padding: 15px 10px;
    }
}

.list_item_solution>li>figure {
    width: 268px;
    @include query(414) {
        width: 50%;
    }
}

.list_item_solution>li>dl {
    width: 235px;
}

.btn_solution {
    width: 380px;
    text-align: center;
    letter-spacing: 1px;
    padding-left: 41px;
    background-color: #e7f5fb;
    @include query(414) {
        width: 280px;
        background-position: right 10px center;
    }
}

.btn_solution span {
    padding-left: 0px;
}

.box_solution {
    padding: 30px;
    border: 2px solid #0175ce;
    background-color: #e7f5fb;
    @include query(414) {
        padding: 15px 10px;
    }
}

.box_solution>figure {
    width: 389px;
}

.box_solution>div {
    width: 710px;
}

.list_anchor_solution li>figure {
    width: auto;
    height: 60px;
    text-align: center;
    width: 100%;
    img {
        height: 100%;
        width: auto;
        margin: 0 auto;
    }
}

.list_anchor_solution li {
    display: block;
    text-align: center;
    >div {
        width: auto !important;
    }
    p {
        letter-spacing: normal !important;
    }
}

.item_conv>dl dt img {
    height: 30px;
}

.lsa1 {
    letter-spacing: -1px;
}

.box_solution>figure {
    width: 268px;
    @include query(414) {
        width: 50%;
    }
}

.box_solution>div {
    width: calc(100% - 54%);
    width: -webkit-calc(100% - 54%);
    width: -moz-calc(100% - 54%);
    width: -ms-calc(100% - 54%);
    width: -o-calc(100% - 54%);
}

.page_about-en {
    .mv-pd {
        padding: 13px 0;
    }
}

.adddistance {
    margin-top: 110px;
}

@media (max-width: 420px) {
    .page_about-en .tt_mv h1 img {
        height: auto;
    }
    .page_about-en .mv-pd {
        padding: 12px 0;
    }
}

.page_busylight {
    .box_line_blue h5 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .tt_line_gray {
        font-weight: 600;
        font-size: 18px;
        border-left: 5px solid #29231e;
        color: #29231e;
        padding-left: 11px;
        margin-bottom: 15px;
    }
    .btn_pdf span {
        padding-left: 47px;
        padding-top: 8px;
        display: inline-block;
        padding-bottom: 8px;
        font-size: 14px;
        background: url(../busylight/images/icon_pdf.png) no-repeat center left;
    }
}

.page_dc_log {
    .box_line_blue h5 {
        font-size: 22px;
        margin-bottom: 0px;
    }
    .list_tb_dc_log div {
        width: 100%;
    }
    .list_tb_dc_log dl {
        width: 100%;
        margin-top: 20px;
    }
    .block4 {
        align-items: flex-start;
        width: 100%;
    }
    .table_two_col {
        display: block;
        width: 100%;
        tbody {
            width: 100%;
            display: block;
        }
        th,
        td {
            display: block;
            width: 100%;
            border-bottom: none;
        }
        tr {
            display: block;
            width: 100%;
            &:last-child {
                td {
                    border-bottom: 1px solid #0175ce;
                }
            }
        }
    }
    .box_col03 {
        width: 100%;
        li {
            width: 100%;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.page_pbx,
.page_smart-plus {
    .box_line_blue h5 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .list_dl_dc_log {
        div {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.page_pbx {
    .box_line_blue h5 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .list_dl_dc_log {
        div {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .tb_pbx {
        width: 100%;
        th,
        td {
            padding: 10px 20px;
            border: 1px solid #0175ce;
        }
        tr {
            &:first-child {
                th {
                    color: #0175ce;
                    font-weight: bold;
                    text-align: center;
                    font-size: 15px;
                    &:first-child {
                        width: 35%;
                    }
                    &:last-child {
                        width: 65%;
                    }
                }
            }
        }
        th {
            background: #e3e3e3;
        }
        td {
            background: #eef8ff;
        }
    }
    .conv04 {
        .linkadd {
            li {
                margin-top: 20px;
            }
        }
    }
    figcaption {
        text-align: left;
        font-size: 15px;
        border-bottom: 1px solid #0175ce;
        display: inline-block;
        color: #0175ce;
        margin-top: 10px;
        font-weight: bold;
    }
}

.page_smart-plus {
    .tt_h4 {
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .bg_blue {
        ul {
            padding: 15px;
            li {
                color: #ffffff;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .box_smart_plus01 {
        padding: 20px;
        background: #eeeeee;
        h3 {
            font-size: 22px;
        }
    }
}

.page_products {
    .list_item_products {
        li {
            background: #e7f5fb;
            @include flexbox(flex-start, flex-start);
            flex-wrap: wrap;
            padding: 20px;
            // @include query(414) {
            //     padding: 10px;
            // }
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
            .block2--ins {
                width: calc(50% - 10px);
                margin-right: 20px;
                @include query(414) {
                    margin-right: 10px;
                    width: 100%;
                    margin-right: 0;
                    margin-top: 20px;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                .asb {
                    margin-top: 20px;
                    width: 100%;
                    position: relative;
                    a {
                        display: block;
                        text-align: center;
                    }
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .page_dc_log .block4 li:nth-child(2) {
        margin-top: 20px;
    }
    .page_dc_log {
        .table_three_col th,
        .table_three_col td {
            padding: 5px;
            font-size: 13px;
        }
    }
    .page_smart-plus {
        .tt_mv {
            padding: 35px 0;
            h1 img {
                height: auto;
            }
        }
    }
}

.page_news {
    .news-block {
        text-align: center;
        padding: 100px 0;
    }
}