@charset "UTF-8";
@import "./components/mixins";



.list_anchor_solution li {
  background: url(../solution/images/tg.png) no-repeat center bottom 30px #0d57b0;
  color: #ffffff;
  padding: 10px 15px 60px;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s; 
  width: 48%;
  text-align: center;
  margin-right: 4% !important;
  &:nth-child(2n) { 
    margin-right: 0px !important;
  }
  &:nth-child(2n+1) { 
  }
}
  .list_anchor_solution li:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5); }
  .list_anchor_solution li:nth-of-type(3n) {
    margin-right: 0px; }
  .list_anchor_solution li h3 {
    font-size: 20px;
    line-height: 1.6; }
  .list_anchor_solution li > figure {
    width: 124px; }
  .list_anchor_solution li > div {
    width: 210px; }

.tt_solution {
  font-weight: 600;
  font-size: 20px; }

.item_solution > div {
  width: 690px; }

.item_solution > figure {
  width: 456px; }

.list_item_solution > li {
  width: 585px;
  display: inline-block;
  margin-top: 25px;
  border: 2px solid #0175ce;
  padding: 30px;
  background-color: #e7f5fb; }
  .list_item_solution > li > figure {
    width: 268px; }
  .list_item_solution > li > dl {
    width: 235px; }

.btn_solution {
  width: 380px;
  text-align: center;
  letter-spacing: 1px;
  padding-left: 41px;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #e7f5fb; }
  .btn_solution span {
    padding-left: 0px; }

.box_solution {
  padding: 30px;
  border: 2px solid #0175ce;
  background-color: #e7f5fb; }
  .box_solution > figure {
    width: 389px; }
  .box_solution > div {
    width: 710px; }

.list_anchor_solution li > figure {
  width: auto;
  height: 60px;
  text-align: center;
  width: 100%;
  img {
    height: 100%;
    width: auto;
    margin:0 auto;
  }
}
.list_anchor_solution li {
  display: block;
  text-align: center;
  > div {
    width: auto !important;
  }
  p {
    letter-spacing: -1px !important;
  }
}