@import "../components/mixins";

.ahover{
  position: relative;
  a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  a:after {
    bottom: -5px;
    display: block;
    height: 1px;
    width: 0%;
    content: "";
    background-color: $cl;
    left: 0%;
  }
  @include minquery(960){
    a:hover{
      opacity: 1;
    }
    a:hover:after {
      opacity: 1;
      width: 100%;
      left: 0;
    }
  }
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}

.btnpage{
  margin: 0 auto;
  width: 100%;
  max-width: 165px;
  margin-top: 55px;
  transition: all .3s;
  @include query(768) {
    margin-top: 5vh;
    max-width: 180px;
  }
  a,button{
    display: block;
    text-align: center;
    padding: 12px 0;
    color: #fff;    
    position: relative;
    font-weight: bold;
    //@include mincho;
    @include bggradient;
    border-radius: 4px;
    border: 1px solid #fff;
    @include query(768) {
      font-size: 14px;
      padding: 15px 0;
    }
    span{
      position: relative;
      z-index: 2;
      font-size: 14px;
      @include arrright;
      font-weight: bold;
      &::before{
        @include iconarrow(#fff);
        right: 20px;
        margin-right: -50px;
        width: 6px;
        height: 6px;
      }
    }
  }
  &.btnrevert{
    a, button{
      color: $cl;
      border: 1px solid $cl;
      span{
        &::before{
          @include iconarrow($cl);
          width: 6px;
          height: 6px;
        }
      }
    }
    @include minquery($pc) {
      a:hover span{
        color: #fff;
        &:before {
          border-top: 2px solid #fff;
          border-right: 2px solid #fff;
        }
      }
    }
  }
  &.btnback{
    margin-top: 0;
    margin-left: 0;
    a{
      span{
        @include arrleft;
        &::before{
          @include iconarrow(#fff);
          right: inherit;
          left: 0%;
          margin-left: -50px;
          transform: rotate(-135deg) !important;
        }
      }
    }
  }
  &.btnnext{
    margin-top: 0;
    margin-right: 0;
  }
}